<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poi.mapper.ShyUserMapper">

    <resultMap type="com.poi.domain.ShyUser" id="ShyUserResult">
        <result property="id" column="id"/>
        <result property="nikeName" column="nike_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="birthDay" column="birth_day"/>
        <result property="mobile" column="mobile"/>
        <result property="role" column="role"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="country" column="country"/>
        <result property="status" column="status"/>
        <result property="fans" column="fans"/>
        <result property="follow" column="follow"/>
        <result property="homeBackUrl" column="home_back_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="summary" column="summary"/>
    </resultMap>

    <sql id="selectShyUserVo">
        select id,
               nike_name,
               password,
               email,
               sex,
               age,
               birth_day,
               mobile,
               role,
               avatar_url,
               country,
               status,
               fans,
               follow,
               home_back_url,
               create_time,
               update_time,
               del_flag,
               summary
        from shy_user
    </sql>

    <delete id="clearRole">
        delete
        from shy_user_role_relation
        where user_id = #{id}
    </delete>

    <insert id="setRoleRelation"  parameterType="com.poi.domain.ShyUser">
        insert into  shy_user_role_relation
        set user_id = #{id},role_id = #{roleId}
    </insert>


    <select id="login" parameterType="com.poi.domain.ShyUser" resultMap="ShyUserResult">
        <include refid="selectShyUserVo"/>
        where
        password = #{password} and (
        nike_name = #{nikeName} or
        mobile = #{nikeName} or
        email = #{nikeName}
        )
        <if test="role !=null and role !=''">and role = #{role}</if>
    </select>


    <select id="selectShyUserList" parameterType="com.poi.domain.ShyUser" resultMap="ShyUserResult">
        <include refid="selectShyUserVo"/>
        <where>
            <if test="nikeName != null  and nikeName != ''">and nike_name like concat('%', #{nikeName}, '%')</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="sex != null  and sex != ''">and sex = #{sex}</if>
            <if test="age != null ">and age = #{age}</if>
            <if test="birthDay != null ">and birth_day = #{birthDay}</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="role != null  and role != ''">and role = #{role}</if>
            <if test="avatarUrl != null  and avatarUrl != ''">and avatar_url = #{avatarUrl}</if>
            <if test="country != null  and country != ''">and country = #{country}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="fans != null ">and fans = #{fans}</if>
            <if test="follow != null ">and follow = #{follow}</if>
            <if test="homeBackUrl != null  and homeBackUrl != ''">and home_back_url = #{homeBackUrl}</if>
            <if test="summary != null  and summary != ''">and summary = #{summary}</if>
            <if test="keyWord != null and keyWord !=''">
                or nike_name like concat('%', #{keyWord}, '%')
                or email like concat('%', #{keyWord}, '%')
                or mobile like concat('%', #{keyWord}, '%')
                or role = #{keyWord}
            </if>
        </where>
    </select>

    <select id="selectShyUserById" parameterType="Long" resultMap="ShyUserResult">
        <include refid="selectShyUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertShyUser" parameterType="com.poi.domain.ShyUser" useGeneratedKeys="true"
            keyProperty="id">
        insert into shy_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nikeName != null">nike_name,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="birthDay != null">birth_day,</if>
            <if test="mobile != null">mobile,</if>
            <if test="role != null">role,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="country != null">country,</if>
            <if test="status != null">status,</if>
            <if test="fans != null">fans,</if>
            <if test="follow != null">follow,</if>
            <if test="homeBackUrl != null">home_back_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="summary != null">summary,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nikeName != null">#{nikeName},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="birthDay != null">#{birthDay},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="role != null">#{role},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="country != null">#{country},</if>
            <if test="status != null">#{status},</if>
            <if test="fans != null">#{fans},</if>
            <if test="follow != null">#{follow},</if>
            <if test="homeBackUrl != null">#{homeBackUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="summary != null">#{summary},</if>
        </trim>
    </insert>

    <update id="updateShyUser" parameterType="com.poi.domain.ShyUser">
        update shy_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nikeName != null">nike_name = #{nikeName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="birthDay != null">birth_day = #{birthDay},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="role != null">role = #{role},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="country != null">country = #{country},</if>
            <if test="status != null">status = #{status},</if>
            <if test="fans != null">fans = #{fans},</if>
            <if test="follow != null">follow = #{follow},</if>
            <if test="homeBackUrl != null">home_back_url = #{homeBackUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="summary != null">summary = #{summary},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShyUserById" parameterType="Long">
        delete
        from shy_user
        where id = #{id}
    </delete>

    <delete id="deleteShyUserByIds" parameterType="String">
        delete from shy_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>